@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --dark-1: #161819;
  --dark-2: #252728;
  --grey: rgb(211, 211, 211);
  --light: #fff;
  --bluelight: #3886fc;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--dark-1);
}

section {
  margin: 7rem;
}

.container {
  max-width: 991px;
  width: 100%;
  padding: 0 1rem;
  margin: 48px auto;
  padding-top: 3rem;
}

.btn {
  transition: 0.3s ease;
  border: none;
}

.btn a {
  color: var(--light);
  text-decoration: none;
}

.btn:hover {
  background-color: var(--dark-2);
}

.title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 36px;
  color: var(--bluelight);
  text-align: left;
}

.subtitle {
  font-size: 1.75rem;
  color: var(--bluelight);
  margin-top: 3rem;
}

.topic {
  font-size: 1rem;
  margin-top: 2.5rem;
}

.box {
  border-radius: 1rem;
  transition: 0.3s ease-in-out;
}

.box:hover {
  box-shadow: 1px 1px 25px var(--bluelight);
}

.icon {
  color: var(--bluelight);
}
.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  grid-gap: 16px;
}
.card {
  padding: 24px;
  border-radius: 12px;
  background: var(--dark-2);
  color: var(--light);
  max-width: calc(50% - 30px);
  position: relative;
}
.card:nth-child(odd) {
  align-self: flex-end;
}
.card::before {
  content: "";
  position: absolute;
  top: 12px;
  border: 12px solid;
}
.card:nth-child(odd)::before {
  right: 100%;
  border-color: transparent var(--dark-2) transparent transparent;
}
.card:nth-child(even)::before {
  left: 100%;
  border-color: transparent transparent transparent var(--dark-2);
}
.card h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}
.card p {
  margin-bottom: 16px;
}
.card .time {
  font-size: 14px;
  color: var(--grey);
}
.card .dot {
  position: absolute;
  top: 16px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--light);
}
.card:nth-child(even) .dot {
  left: calc(100% + 22px);
}
.card:nth-child(odd) .dot {
  right: calc(100% + 22px);
}
.line {
  position: absolute;
  top: 16px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  background: var(--light);
}

.app {
  margin-top: 4rem;
}

.app img {
  border: 1px solid var(--light);
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.app img:hover {
  box-shadow: 1px 1px 25px var(--bluelight);
}

.app__text {
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.65rem;
  padding-right: 1rem;
}

.bold {
  color: var(--bluelight);
  font-size: 1.25rem;
}

.edu_container {
  row-gap: 2rem;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  padding: 0.5rem;
  padding-top: 2rem;
}

.edu__card {
  display: grid;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;
  padding: 2rem;
  background-color: var(--grey);
  color: var(--dark-1);
  font-weight: 400;
}

.grid_item:nth-child(1) {
  grid-row: 1 / 3;
  padding: 3.5rem 1.5rem;
  border-radius: 1rem 0 0 1rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: var(--grey);
  color: var(--dark-1);
  font-weight: 400;
}

.grid_item {
  background-color: var(--grey);
  color: var(--dark-1);
  font-weight: 400;
  display: flex;
  justify-content: center;
  padding: 3.5rem 1.5rem;
  border-radius: 0 1rem 1rem 0;
  cursor: auto;
}

.grid_item:nth-child(2) {
  border-radius: 0 1rem 0 0;
}

.grid_item:nth-child(3) {
  border-radius: 0 0 1rem 0;
}

.grid-2 {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  padding: 0.5rem;
  padding-top: 4rem;
}

.grid_item-2 {
  background-color: var(--grey);
  color: var(--dark-1);
  font-weight: 400;
  display: flex;
  justify-content: center;
  padding: 3.5rem 1.5rem;
}

.grid_item-2:nth-child(1) {
  border-radius: 1rem 0 0 1rem;
}

.grid_item-2:nth-child(2) {
  border-radius: 0 1rem 1rem 0;
}

.grid_subtitle {
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.video iframe {
  border: 1px solid var(--light);
  border-radius: 10px;
}

.footer_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid_footer_container {
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid_footer_container > h5 {
  text-align: start;
}

.grid_footer_container ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
}

.footer-list {
  list-style: none;
  padding: 0;
}

.footer-list .nav-item {
  padding: 0;
}

@media screen and (max-width: 768px) {
  .line {
    left: 12px;
  }
  .card:nth-child(odd) {
    align-self: flex-start;
  }
  .wrapper {
    padding-left: 42px;
  }
  .card:nth-child(even) .dot {
    right: calc(100% + 22px);
    left: unset;
  }
  .card:nth-child(even)::before {
    right: 100%;
    left: unset;
    border-color: transparent var(--dark-2) transparent transparent;
  }
  .card {
    max-width: 100%;
  }

  .edu_container {
    row-gap: 2rem;
  }

  .grid {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
  }

  .edu__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .grid_item:nth-child(1) {
    border-radius: 1rem;
    overflow: hidden;
  }

  .grid-2 {
    display: flex;
    flex-direction: column;
  }

  .grid_item-2 {
    margin: 1rem 0;
  }

  .grid_item:nth-child(2) {
    border-radius: 1rem;
    margin: 1rem 0;
  }

  .grid_item:nth-child(3) {
    border-radius: 1rem;
  }

  .grid_item-2:nth-child(1) {
    border-radius: 1rem;
  }

  .grid_item-2:nth-child(2) {
    border-radius: 1rem;
  }

  .video iframe {
    width: 200%;
    height: 200px;
  }

  .footer_container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .grid_footer_container {
    padding: 2rem 0;
  }
}

@media screen and (max-width: 420px) {
  .line,
  .card .dot,
  .card::before {
    display: none;
  }
  .wrapper {
    padding-left: 0;
  }

  .box {
    margin: 1rem 0;
  }

  .edu_container {
    row-gap: 2rem;
  }

  .grid {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
  }

  .edu__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .grid_item:nth-child(1) {
    border-radius: 1rem;
    overflow: hidden;
  }

  .grid-2 {
    display: flex;
    flex-direction: column;
  }

  .grid_item-2 {
    margin: 1rem 0;
  }

  .grid_item:nth-child(2) {
    border-radius: 1rem;
    margin: 1rem 0;
  }

  .grid_item:nth-child(3) {
    border-radius: 1rem;
  }

  .grid_item-2:nth-child(1) {
    border-radius: 1rem;
  }

  .grid_item-2:nth-child(2) {
    border-radius: 1rem;
  }

  .video iframe {
    width: 100vw;
    height: 200px;
  }

  .footer_container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .grid_footer_container {
    padding: 2rem 0;
  }
}
